.main-page-wrap

  <!-- .welcome-text -->
  <!--   h3 Portfolios -->


  .center-col
    .center-content
      .square
        .motw
          i.material-icons.note music_note
      h3 Music of the World

  .left-col
    i.material-icons.left-arrow keyboard_arrow_left

  .right-col
    i.material-icons.right-arrow keyboard_arrow_right
  
  .progress-bar
